## 머신러닝 파이프라인의 일반적인 순서
- 데이터 전처리 -> 피처 엔지니어링 -> 머신러닝 모델 학습 ->테스트 데이터 예측

In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb

In [2]:
np.random.seed(2021)

In [3]:
train_df = pd.read_csv('C:/Users/cswoo/Documents/kaggle_dataset/train_ver2.csv')
test_df = pd.read_csv('C:/Users/cswoo/Documents/kaggle_dataset/test_ver2.csv')

C:\Users\cswoo\.conda\envs\sungwook\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5,8,11,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\cswoo\.conda\envs\sungwook\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
train_df

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13647304,2016-05-28,1166765,N,ES,V,22,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647305,2016-05-28,1166764,N,ES,V,23,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647306,2016-05-28,1166763,N,ES,H,47,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647307,2016-05-28,1166789,N,ES,H,22,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647308,2016-05-28,1550586,N,ES,H,37,2016-05-13,1.0,0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [5]:
test_df

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento
0,2016-06-28,15889,F,ES,V,56,1995-01-16,0,256,1,...,N,N,KAT,N,1,28.0,MADRID,1,326124.90,01 - TOP
1,2016-06-28,1170544,N,ES,H,36,2013-08-28,0,34,1,...,N,NaN,KAT,N,1,3.0,ALICANTE,0,NA,02 - PARTICULARES
2,2016-06-28,1170545,N,ES,V,22,2013-08-28,0,34,1,...,N,NaN,KHE,N,1,15.0,"CORUÑA, A",1,NA,03 - UNIVERSITARIO
3,2016-06-28,1170547,N,ES,H,22,2013-08-28,0,34,1,...,N,NaN,KHE,N,1,8.0,BARCELONA,0,148402.98,03 - UNIVERSITARIO
4,2016-06-28,1170548,N,ES,H,22,2013-08-28,0,34,1,...,N,NaN,KHE,N,1,7.0,"BALEARS, ILLES",0,106885.80,03 - UNIVERSITARIO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929610,2016-06-28,660237,N,ES,V,55,1999-04-21,0,206,1,...,N,NaN,KAT,N,1,28.0,MADRID,1,128643.57,01 - TOP
929611,2016-06-28,660238,N,ES,V,30,2006-11-29,0,115,1,...,N,NaN,KFC,N,1,26.0,"RIOJA, LA",0,NA,02 - PARTICULARES
929612,2016-06-28,660240,N,ES,V,52,2006-11-29,0,115,1,...,N,NaN,KBZ,N,1,33.0,ASTURIAS,1,72765.27,02 - PARTICULARES
929613,2016-06-28,660243,N,ES,V,32,2006-11-29,0,115,1,...,N,NaN,KFC,N,1,33.0,ASTURIAS,0,147488.88,02 - PARTICULARES
929614,2016-06-28,660248,N,ES,V,92,2006-11-29,0,115,1,...,N,NaN,KAT,N,1,45.0,TOLEDO,0,NA,02 - PARTICULARES

## 데이터 전처리

In [6]:
# 제품 변수를 별도로 저장
prods = train_df.columns[24:].tolist()

In [7]:
# 제품 변수 결측값 확인
train_df[prods].isnull().sum(axis=0)

ind_ahor_fin_ult1        0
ind_aval_fin_ult1        0
ind_cco_fin_ult1         0
ind_cder_fin_ult1        0
ind_cno_fin_ult1         0
ind_ctju_fin_ult1        0
ind_ctma_fin_ult1        0
ind_ctop_fin_ult1        0
ind_ctpp_fin_ult1        0
ind_deco_fin_ult1        0
ind_deme_fin_ult1        0
ind_dela_fin_ult1        0
ind_ecue_fin_ult1        0
ind_fond_fin_ult1        0
ind_hip_fin_ult1         0
ind_plan_fin_ult1        0
ind_pres_fin_ult1        0
ind_reca_fin_ult1        0
ind_tjcr_fin_ult1        0
ind_valo_fin_ult1        0
ind_viv_fin_ult1         0
ind_nomina_ult1      16063
ind_nom_pens_ult1    16063
ind_recibo_ult1          0
dtype: int64

In [8]:
# 제품 변수 결측값을 0으로 대체
train_df[prods] = train_df[prods].fillna(0).astype(np.int8)

In [9]:
# 24개의 제품 중 하나도 보유하지 않는 고객 데이터를 제거
no_product = (train_df[prods].sum(axis=1) == 0)
train_df = train_df[~no_product]

In [10]:
train_df

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0,0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13647304,2016-05-28,1166765,N,ES,V,22,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0,0,0
13647305,2016-05-28,1166764,N,ES,V,23,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0,0,0
13647306,2016-05-28,1166763,N,ES,H,47,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0,0,0
13647307,2016-05-28,1166789,N,ES,H,22,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0,0,0
13647308,2016-05-28,1550586,N,ES,H,37,2016-05-13,1.0,0,1.0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# train data 와 test data 통합
for prod in prods:
    test_df[prod] = 0
    
df = pd.concat([train_df, test_df], axis=0)

In [12]:
del train_df, test_df

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12020685 entries, 0 to 929614
Data columns (total 48 columns):
 #   Column                 Dtype
---  ------                 -----
 0   fecha_dato             object
 1   ncodpers               int64
 2   ind_empleado           object
 3   pais_residencia        object
 4   sexo                   object
 5   age                    object
 6   fecha_alta             object
 7   ind_nuevo              float64
 8   antiguedad             object
 9   indrel                 float64
 10  ult_fec_cli_1t         object
 11  indrel_1mes            object
 12  tiprel_1mes            object
 13  indresi                object
 14  indext                 object
 15  conyuemp               object
 16  canal_entrada          object
 17  indfall                object
 18  tipodom                float64
 19  cod_prov               float64
 20  nomprov                object
 21  ind_actividad_cliente  float64
 22  renta                  object
 23  segmento               object
 24  ind_ahor_fin_ult1      int64
 25  ind_aval_fin_ult1      int64
 26  ind_cco_fin_ult1       int64
 27  ind_cder_fin_ult1      int64
 28  ind_cno_fin_ult1       int64
 29  ind_ctju_fin_ult1      int64
 30  ind_ctma_fin_ult1      int64
 31  ind_ctop_fin_ult1      int64
 32  ind_ctpp_fin_ult1      int64
 33  ind_deco_fin_ult1      int64
 34  ind_deme_fin_ult1      int64
 35  ind_dela_fin_ult1      int64
 36  ind_ecue_fin_ult1      int64
 37  ind_fond_fin_ult1      int64
 38  ind_hip_fin_ult1       int64
 39  ind_plan_fin_ult1      int64
 40  ind_pres_fin_ult1      int64
 41  ind_reca_fin_ult1      int64
 42  ind_tjcr_fin_ult1      int64
 43  ind_valo_fin_ult1      int64
 44  ind_viv_fin_ult1       int64
 45  ind_nomina_ult1        int64
 46  ind_nom_pens_ult1      int64
 47  ind_recibo_ult1        int64
dtypes: float64(5), int64(25), object(18)
memory usage: 4.4+ GB

In [14]:
# 학습에 사용할 변수를 담는 list
features = []

In [15]:
category_columns = [col for col in df.columns[:24] if df[col].dtype in ['O']]
category_columns

['fecha_dato',
 'ind_empleado',
 'pais_residencia',
 'sexo',
 'age',
 'fecha_alta',
 'antiguedad',
 'ult_fec_cli_1t',
 'indrel_1mes',
 'tiprel_1mes',
 'indresi',
 'indext',
 'conyuemp',
 'canal_entrada',
 'indfall',
 'nomprov',
 'renta',
 'segmento']

In [16]:
# 수치형 데이터 인데 object형으로 되어있는 컬럼과 날짜컬럼을 category_columns에서 제외
for col in ['fecha_dato', 'age', 'fecha_alta', 'antiguedad', 'ult_fec_cli_1t', 'indrel_1mes', 'renta']:
    if col in category_columns:
        category_columns.remove(col)
category_columns

['ind_empleado',
 'pais_residencia',
 'sexo',
 'tiprel_1mes',
 'indresi',
 'indext',
 'conyuemp',
 'canal_entrada',
 'indfall',
 'nomprov',
 'segmento']

In [17]:
# 범주형 변수를 factorize() 함수를 통해 label encoding
for col in category_columns:
    df[col], _ = df[col].factorize(na_sentinel=-99)
features += category_columns

In [18]:
features

['ind_empleado',
 'pais_residencia',
 'sexo',
 'tiprel_1mes',
 'indresi',
 'indext',
 'conyuemp',
 'canal_entrada',
 'indfall',
 'nomprov',
 'segmento']

In [19]:
# 수치형 변수의 특이값과 결측값을 -99로 대체하고, 수치형으로 변환
df['age'] = df['age'].replace(' NA', -99).astype(np.int8)

In [20]:
df['antiguedad'] = df['antiguedad'].replace('     NA', -99).astype(np.int8)

In [21]:
df['indrel_1mes'] = df['indrel_1mes'].fillna(-99)
df['indrel_1mes'] = df['indrel_1mes'].replace('P', 5).astype(float).astype(np.int8)

In [22]:
df['renta'] = df['renta'].fillna(-99)
df['renta'] = df['renta'].replace('         NA', -99).astype(np.float64)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12020685 entries, 0 to 929614
Data columns (total 48 columns):
 #   Column                 Dtype
---  ------                 -----
 0   fecha_dato             object
 1   ncodpers               int64
 2   ind_empleado           int64
 3   pais_residencia        int64
 4   sexo                   int64
 5   age                    int8
 6   fecha_alta             object
 7   ind_nuevo              float64
 8   antiguedad             int8
 9   indrel                 float64
 10  ult_fec_cli_1t         object
 11  indrel_1mes            int8
 12  tiprel_1mes            int64
 13  indresi                int64
 14  indext                 int64
 15  conyuemp               int64
 16  canal_entrada          int64
 17  indfall                int64
 18  tipodom                float64
 19  cod_prov               float64
 20  nomprov                int64
 21  ind_actividad_cliente  float64
 22  renta                  float64
 23  segmento               int64
 24  ind_ahor_fin_ult1      int64
 25  ind_aval_fin_ult1      int64
 26  ind_cco_fin_ult1       int64
 27  ind_cder_fin_ult1      int64
 28  ind_cno_fin_ult1       int64
 29  ind_ctju_fin_ult1      int64
 30  ind_ctma_fin_ult1      int64
 31  ind_ctop_fin_ult1      int64
 32  ind_ctpp_fin_ult1      int64
 33  ind_deco_fin_ult1      int64
 34  ind_deme_fin_ult1      int64
 35  ind_dela_fin_ult1      int64
 36  ind_ecue_fin_ult1      int64
 37  ind_fond_fin_ult1      int64
 38  ind_hip_fin_ult1       int64
 39  ind_plan_fin_ult1      int64
 40  ind_pres_fin_ult1      int64
 41  ind_reca_fin_ult1      int64
 42  ind_tjcr_fin_ult1      int64
 43  ind_valo_fin_ult1      int64
 44  ind_viv_fin_ult1       int64
 45  ind_nomina_ult1        int64
 46  ind_nom_pens_ult1      int64
 47  ind_recibo_ult1        int64
dtypes: float64(6), int64(36), int8(3), object(3)
memory usage: 4.2+ GB

In [24]:
# 학습에 사용할 수치형 변수를 features에 추가
features += ['age', 'antiguedad', 'ind_nuevo', 'indrel', 'indrel_1mes', 'ind_actividad_cliente']
features

['ind_empleado',
 'pais_residencia',
 'sexo',
 'tiprel_1mes',
 'indresi',
 'indext',
 'conyuemp',
 'canal_entrada',
 'indfall',
 'nomprov',
 'segmento',
 'age',
 'antiguedad',
 'ind_nuevo',
 'indrel',
 'indrel_1mes',
 'ind_actividad_cliente']

## 피처 엔지니어링
- 머신러닝 모델 학습에 필요한 사용할 파생 변수를 생성한다.

In [25]:
df.columns

Index(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo',
       'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel',
       'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
       'nomprov', 'ind_actividad_cliente', 'renta', 'segmento',
       'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
       'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
       'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
       'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1'],
      dtype='object')

In [26]:
# 두 날짜 변수에서 연도와 월 정보를 추출
df['fecha_alta_year'] = df['fecha_alta'].map(lambda x:0.0 if x.__class__ is float else x.split('-')[0]).astype(np.int16)
df['fecha_alta_month'] = df['fecha_alta'].map(lambda x:0.0 if x.__class__ is float else x.split('-')[1]).astype(np.int16)
features += ['fecha_alta_year', 'fecha_alta_month']

In [27]:
df['ult_fec_cli_1t_year'] = df['ult_fec_cli_1t'].map(lambda x:0.0 if x.__class__ is float else x.split('-')[0]).astype(np.int16)
df['ult_fec_cli_1t_month'] = df['ult_fec_cli_1t'].map(lambda x:0.0 if x.__class__ is float else x.split('-')[1]).astype(np.int16)
features += ['ult_fec_cli_1t_year', 'ult_fec_cli_1t_month']

In [28]:
# 그외의 변수의 결측값은 모두 -99로 대체
df = df.fillna(-99)

### lag-1 데이터 생성

In [29]:
## 날짜를 숫자로 변환 하는 함수
def date_to_int(date):
    Y, M, D = date.strip().split('-')
    int_date = (int(Y)-2015)*12 + int(M)
    return int_date

In [30]:
df['int_date'] = df['fecha_dato'].map(date_to_int)
df['int_date']

0          1
1          1
2          1
3          1
4          1
          ..
929610    18
929611    18
929612    18
929613    18
929614    18
Name: int_date, Length: 12020685, dtype: int64

In [31]:
df_lag = df.copy()
df_lag.columns = [col + '_prev' if col not in ['ncodpers', 'int_date'] else col for col in df.columns]
df_lag['int_date'] += 1

In [32]:
df_trn = df.merge(df_lag, on=['ncodpers', 'int_date'], how='left')

In [33]:
del df, df_lag

In [34]:
# 저번달의 제품 정보가 존재하지 않을 경우를 대비하여 0으로 대체
for prod in prods:
    prev = prod + '_prev'
    df_trn[prev] = df_trn[prev].fillna(0)
# 그외의 변수의 결측값은 모두 -99로 대체
df_trn = df_trn.fillna(-99)

In [35]:
features += [feature + '_prev' for feature in features]
features += [prod + '_prev' for prod in prods]

In [36]:
features

['ind_empleado',
 'pais_residencia',
 'sexo',
 'tiprel_1mes',
 'indresi',
 'indext',
 'conyuemp',
 'canal_entrada',
 'indfall',
 'nomprov',
 'segmento',
 'age',
 'antiguedad',
 'ind_nuevo',
 'indrel',
 'indrel_1mes',
 'ind_actividad_cliente',
 'fecha_alta_year',
 'fecha_alta_month',
 'ult_fec_cli_1t_year',
 'ult_fec_cli_1t_month',
 'ind_empleado_prev',
 'pais_residencia_prev',
 'sexo_prev',
 'tiprel_1mes_prev',
 'indresi_prev',
 'indext_prev',
 'conyuemp_prev',
 'canal_entrada_prev',
 'indfall_prev',
 'nomprov_prev',
 'segmento_prev',
 'age_prev',
 'antiguedad_prev',
 'ind_nuevo_prev',
 'indrel_prev',
 'indrel_1mes_prev',
 'ind_actividad_cliente_prev',
 'fecha_alta_year_prev',
 'fecha_alta_month_prev',
 'ult_fec_cli_1t_year_prev',
 'ult_fec_cli_1t_month_prev',
 'ind_ahor_fin_ult1_prev',
 'ind_aval_fin_ult1_prev',
 'ind_cco_fin_ult1_prev',
 'ind_cder_fin_ult1_prev',
 'ind_cno_fin_ult1_prev',
 'ind_ctju_fin_ult1_prev',
 'ind_ctma_fin_ult1_prev',
 'ind_ctop_fin_ult1_prev',
 'ind_ctpp_fin_ult1_prev',
 'ind_deco_fin_ult1_prev',
 'ind_deme_fin_ult1_prev',
 'ind_dela_fin_ult1_prev',
 'ind_ecue_fin_ult1_prev',
 'ind_fond_fin_ult1_prev',
 'ind_hip_fin_ult1_prev',
 'ind_plan_fin_ult1_prev',
 'ind_pres_fin_ult1_prev',
 'ind_reca_fin_ult1_prev',
 'ind_tjcr_fin_ult1_prev',
 'ind_valo_fin_ult1_prev',
 'ind_viv_fin_ult1_prev',
 'ind_nomina_ult1_prev',
 'ind_nom_pens_ult1_prev',
 'ind_recibo_ult1_prev']

## 머신러닝 모델 학습

### 모델 학습

In [37]:
# 학습을 위하여 데이터를 훈련, 테스트용으로 분리한다.
#학습에는 2016-01-28 ~ 2016-04-28, 검증에는 2016-05-28
use_data = ['2016-01-28', '2016-02-28', '2016-03-28', '2016-04-28', '2016-05-28']
trn = df_trn[df_trn['fecha_dato'].isin(use_data)]
tst = df_trn[df_trn['fecha_dato'] == '2016-06-28']
del df_trn

In [38]:
trn

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_tjcr_fin_ult1_prev,ind_valo_fin_ult1_prev,ind_viv_fin_ult1_prev,ind_nomina_ult1_prev,ind_nom_pens_ult1_prev,ind_recibo_ult1_prev,fecha_alta_year_prev,fecha_alta_month_prev,ult_fec_cli_1t_year_prev,ult_fec_cli_1t_month_prev
7628152,2016-01-28,1432296,0,0,1,20,2015-08-07,1.0,5,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2015.0,8.0,0.0,0.0
7628153,2016-01-28,1432294,0,0,0,25,2015-08-07,1.0,5,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2015.0,8.0,0.0,0.0
7628154,2016-01-28,1432292,0,0,1,23,2015-08-07,1.0,5,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2015.0,8.0,0.0,0.0
7628155,2016-01-28,1432297,0,0,0,20,2015-08-07,1.0,5,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2015.0,8.0,0.0,0.0
7628156,2016-01-28,1432280,0,0,1,20,2015-08-07,1.0,5,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2015.0,8.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11091065,2016-05-28,1166765,0,0,1,22,2013-08-14,0.0,33,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2013.0,8.0,0.0,0.0
11091066,2016-05-28,1166764,0,0,1,23,2013-08-14,0.0,33,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2013.0,8.0,0.0,0.0
11091067,2016-05-28,1166763,0,0,0,47,2013-08-14,0.0,33,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2013.0,8.0,0.0,0.0
11091068,2016-05-28,1166789,0,0,0,22,2013-08-14,0.0,33,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2013.0,8.0,0.0,0.0
11091069,2016-05-28,1550586,0,0,0,37,2016-05-13,1.0,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-99.0,-99.0,-99.0,-99.0

In [39]:
tst

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_tjcr_fin_ult1_prev,ind_valo_fin_ult1_prev,ind_viv_fin_ult1_prev,ind_nomina_ult1_prev,ind_nom_pens_ult1_prev,ind_recibo_ult1_prev,fecha_alta_year_prev,fecha_alta_month_prev,ult_fec_cli_1t_year_prev,ult_fec_cli_1t_month_prev
11091070,2016-06-28,15889,3,0,1,56,1995-01-16,0.0,0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1995.0,1.0,0.0,0.0
11091071,2016-06-28,1170544,0,0,0,36,2013-08-28,0.0,34,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2013.0,8.0,0.0,0.0
11091072,2016-06-28,1170545,0,0,1,22,2013-08-28,0.0,34,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2013.0,8.0,0.0,0.0
11091073,2016-06-28,1170547,0,0,0,22,2013-08-28,0.0,34,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2013.0,8.0,0.0,0.0
11091074,2016-06-28,1170548,0,0,0,22,2013-08-28,0.0,34,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2013.0,8.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12020680,2016-06-28,660237,0,0,1,55,1999-04-21,0.0,-50,1.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1999.0,4.0,0.0,0.0
12020681,2016-06-28,660238,0,0,1,30,2006-11-29,0.0,115,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-99.0,-99.0,-99.0,-99.0
12020682,2016-06-28,660240,0,0,1,52,2006-11-29,0.0,115,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2006.0,11.0,0.0,0.0
12020683,2016-06-28,660243,0,0,1,32,2006-11-29,0.0,115,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2006.0,11.0,0.0,0.0
12020684,2016-06-28,660248,0,0,1,92,2006-11-29,0.0,115,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2006.0,11.0,0.0,0.0

In [40]:
# 훈련 데이터에서 신규 구매 건수만 추출한다.
X = []
Y = []
for i, prod in enumerate(prods):
    prev = prod + '_prev'
    prX = trn[(trn[prod] == 1) & (trn[prev] == 0)]
    prY = np.zeros(prX.shape[0], dtype=np.int8) + i
    X.append(prX)
    Y.append(prY)

In [41]:
XY = pd.concat(X)
Y  = np.hstack(Y)
XY['y'] = Y

In [42]:
XY

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_valo_fin_ult1_prev,ind_viv_fin_ult1_prev,ind_nomina_ult1_prev,ind_nom_pens_ult1_prev,ind_recibo_ult1_prev,fecha_alta_year_prev,fecha_alta_month_prev,ult_fec_cli_1t_year_prev,ult_fec_cli_1t_month_prev,y
10597872,2016-05-28,194160,0,0,0,42,2000-09-25,0.0,-68,1.0,...,0.0,0.0,0.0,0.0,0.0,2000.0,9.0,0.0,0.0,0
7658069,2016-01-28,1474324,0,0,1,43,2015-10-09,1.0,3,1.0,...,0.0,0.0,0.0,0.0,1.0,2015.0,10.0,0.0,0.0,1
7628180,2016-01-28,1432311,0,0,1,26,2015-08-07,1.0,5,1.0,...,0.0,0.0,0.0,0.0,0.0,-99.0,-99.0,-99.0,-99.0,2
7628198,2016-01-28,1432232,0,0,1,33,2015-08-07,0.0,19,1.0,...,0.0,0.0,0.0,0.0,0.0,-99.0,-99.0,-99.0,-99.0,2
7628482,2016-01-28,1432080,0,0,0,23,2015-08-07,1.0,5,1.0,...,0.0,0.0,0.0,0.0,0.0,-99.0,-99.0,-99.0,-99.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11090455,2016-05-28,1166385,0,0,1,65,2013-08-14,0.0,33,1.0,...,0.0,0.0,0.0,0.0,0.0,2013.0,8.0,0.0,0.0,23
11090468,2016-05-28,1166355,0,0,1,30,2013-08-14,0.0,33,1.0,...,0.0,0.0,0.0,0.0,0.0,2013.0,8.0,0.0,0.0,23
11090667,2016-05-28,1166343,0,0,1,36,2013-08-14,0.0,33,1.0,...,0.0,0.0,0.0,0.0,0.0,2013.0,8.0,0.0,0.0,23
11090696,2016-05-28,1166232,0,0,0,23,2013-08-14,0.0,33,1.0,...,0.0,0.0,1.0,1.0,0.0,2013.0,8.0,0.0,0.0,23
11090782,2016-05-28,1166874,0,0,1,22,2013-08-16,0.0,33,1.0,...,0.0,0.0,0.0,0.0,0.0,2013.0,8.0,0.0,0.0,23

In [43]:
# 훈련, 검증 데이터로 분리
valid_date = '2016-05-28'
XY_trn = XY[XY['fecha_dato'] != valid_date]
XY_valid = XY[XY['fecha_dato'] == valid_date]

In [44]:
del XY

In [45]:
XY_trn

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_valo_fin_ult1_prev,ind_viv_fin_ult1_prev,ind_nomina_ult1_prev,ind_nom_pens_ult1_prev,ind_recibo_ult1_prev,fecha_alta_year_prev,fecha_alta_month_prev,ult_fec_cli_1t_year_prev,ult_fec_cli_1t_month_prev,y
7658069,2016-01-28,1474324,0,0,1,43,2015-10-09,1.0,3,1.0,...,0.0,0.0,0.0,0.0,1.0,2015.0,10.0,0.0,0.0,1
7628180,2016-01-28,1432311,0,0,1,26,2015-08-07,1.0,5,1.0,...,0.0,0.0,0.0,0.0,0.0,-99.0,-99.0,-99.0,-99.0,2
7628198,2016-01-28,1432232,0,0,1,33,2015-08-07,0.0,19,1.0,...,0.0,0.0,0.0,0.0,0.0,-99.0,-99.0,-99.0,-99.0,2
7628482,2016-01-28,1432080,0,0,0,23,2015-08-07,1.0,5,1.0,...,0.0,0.0,0.0,0.0,0.0,-99.0,-99.0,-99.0,-99.0,2
7628692,2016-01-28,1432952,0,0,0,77,2015-08-10,1.0,5,1.0,...,1.0,0.0,0.0,0.0,0.0,2015.0,8.0,0.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10394466,2016-04-28,1297367,0,0,1,59,2014-08-18,0.0,20,1.0,...,0.0,0.0,0.0,0.0,0.0,2014.0,8.0,0.0,0.0,23
10394481,2016-04-28,1297315,0,0,1,39,2014-08-18,0.0,20,1.0,...,0.0,0.0,0.0,0.0,0.0,2014.0,8.0,0.0,0.0,23
10394487,2016-04-28,1297332,0,0,1,30,2014-08-18,0.0,20,1.0,...,0.0,0.0,0.0,0.0,0.0,2014.0,8.0,0.0,0.0,23
10394502,2016-04-28,1297428,0,0,0,35,2014-08-18,0.0,25,1.0,...,0.0,0.0,0.0,0.0,0.0,2014.0,8.0,0.0,0.0,23
10394529,2016-04-28,1297412,0,0,1,34,2014-08-18,0.0,20,1.0,...,0.0,0.0,0.0,0.0,0.0,2014.0,8.0,0.0,0.0,23

In [46]:
XY_valid

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_valo_fin_ult1_prev,ind_viv_fin_ult1_prev,ind_nomina_ult1_prev,ind_nom_pens_ult1_prev,ind_recibo_ult1_prev,fecha_alta_year_prev,fecha_alta_month_prev,ult_fec_cli_1t_year_prev,ult_fec_cli_1t_month_prev,y
10597872,2016-05-28,194160,0,0,0,42,2000-09-25,0.0,-68,1.0,...,0.0,0.0,0.0,0.0,0.0,2000.0,9.0,0.0,0.0,0
10394747,2016-05-28,658081,0,0,1,31,2006-11-20,0.0,114,1.0,...,0.0,0.0,1.0,1.0,1.0,2006.0,11.0,0.0,0.0,2
10395030,2016-05-28,658132,0,0,1,38,2006-11-20,1.0,1,1.0,...,0.0,0.0,0.0,0.0,0.0,-99.0,-99.0,-99.0,-99.0,2
10395104,2016-05-28,658521,0,0,1,39,2006-11-21,0.0,114,1.0,...,0.0,0.0,0.0,0.0,0.0,-99.0,-99.0,-99.0,-99.0,2
10395155,2016-05-28,655909,0,0,1,42,2006-11-11,1.0,0,1.0,...,0.0,0.0,0.0,0.0,0.0,-99.0,-99.0,-99.0,-99.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11090455,2016-05-28,1166385,0,0,1,65,2013-08-14,0.0,33,1.0,...,0.0,0.0,0.0,0.0,0.0,2013.0,8.0,0.0,0.0,23
11090468,2016-05-28,1166355,0,0,1,30,2013-08-14,0.0,33,1.0,...,0.0,0.0,0.0,0.0,0.0,2013.0,8.0,0.0,0.0,23
11090667,2016-05-28,1166343,0,0,1,36,2013-08-14,0.0,33,1.0,...,0.0,0.0,0.0,0.0,0.0,2013.0,8.0,0.0,0.0,23
11090696,2016-05-28,1166232,0,0,0,23,2013-08-14,0.0,33,1.0,...,0.0,0.0,1.0,1.0,0.0,2013.0,8.0,0.0,0.0,23
11090782,2016-05-28,1166874,0,0,1,22,2013-08-16,0.0,33,1.0,...,0.0,0.0,0.0,0.0,0.0,2013.0,8.0,0.0,0.0,23

In [ ]:
# XGBoost 모델을 훈련 데이터에 학습하는 코드
params = {
    'booster': 'gbtree',
    'max_depth': 8,
    'nthread': 4,
    'num_class': len(prods),
    'objective': 'multi:softprob',
    'silent': 1,
    'eval_metric':'mlogloss',
    'eta': 0.1,
    'min_child_weight':10,
    'colsample_bytree': 0.8,
    'colsample_bylevel': 0.9,
    'seed': 2018
}

X_trn = XY_trn[features]
Y_trn = XY_trn['y']
dtrn = xgb.DMatrix(X_trn, label=Y_trn, feature_names=features)

X_vaild = XY_valid[features]
Y_valid = XY_valid['y']
dvld = xgb.DMatrix(X_vaild, label=Y_valid, feature_names=features)

# XGBoost 모델을 훈련 데이터로 학습
watch_list = [(dtrn, 'train'), (dvld, 'eval')]
model = xgb.train(params, dtrn, num_boost_round=1000, evals=watch_list, early_stopping_rounds=20)

[09:05:33] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:576:
Parameters: { "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	train-mlogloss:2.68459	eval-mlogloss:2.69949
[1]	train-mlogloss:2.47137	eval-mlogloss:2.49260
[2]	train-mlogloss:2.29852	eval-mlogloss:2.31966
[3]	train-mlogloss:2.15711	eval-mlogloss:2.17839
[4]	train-mlogloss:2.04336	eval-mlogloss:2.06461
[5]	train-mlogloss:1.94988	eval-mlogloss:1.97115
[6]	train-mlogloss:1.86912	eval-mlogloss:1.89078
[7]	train-mlogloss:1.79996	eval-mlogloss:1.82134
[8]	train-mlogloss:1.73464	eval-mlogloss:1.75595
[9]	train-mlogloss:1.67791	eval-mlogloss:1.69887
[10]	train-mlogloss:1.62763	eval-mlogloss:1.64863
[11]	train-mlogloss:1.58376	eval-mlogloss:1.60475
[12]	train-mlogloss:1.54381	eval-mlogloss:1.56483
[13]	train-mlogloss:1.50867	eval-mlogloss:1.52970
[14]	train-mlogloss:1.47619	eval-mlogloss:1.49743
[15]	train-mlogloss:1.44632	eval-mlogloss:1.46758
[16]	train-mlogloss:1.42038	eval-mlogloss:1.44191
[17]	train-mlogloss:1.39573	eval-mlogloss:1.41737
[18]	train-mlogloss:1.37389	eval-mlogloss:1.39595
[19]	train-mlogloss:1.35272	eval-mlogloss:1.37493
[20]	train-mlogloss:1.33456	eval-mlogloss:1.35708
[21]	train-mlogloss:1.31743	eval-mlogloss:1.34017
[22]	train-mlogloss:1.30102	eval-mlogloss:1.32381
[23]	train-mlogloss:1.28654	eval-mlogloss:1.30946
[24]	train-mlogloss:1.27270	eval-mlogloss:1.29563
[25]	train-mlogloss:1.26021	eval-mlogloss:1.28319
[26]	train-mlogloss:1.24869	eval-mlogloss:1.27201
[27]	train-mlogloss:1.23735	eval-mlogloss:1.26102
[28]	train-mlogloss:1.22686	eval-mlogloss:1.25070
[29]	train-mlogloss:1.21753	eval-mlogloss:1.24167
[30]	train-mlogloss:1.20890	eval-mlogloss:1.23335
[31]	train-mlogloss:1.20030	eval-mlogloss:1.22498
[32]	train-mlogloss:1.19273	eval-mlogloss:1.21762
[33]	train-mlogloss:1.18580	eval-mlogloss:1.21102
[34]	train-mlogloss:1.17894	eval-mlogloss:1.20451
[35]	train-mlogloss:1.17286	eval-mlogloss:1.19879
[36]	train-mlogloss:1.16656	eval-mlogloss:1.19295
[37]	train-mlogloss:1.16059	eval-mlogloss:1.18727
[38]	train-mlogloss:1.15542	eval-mlogloss:1.18246
[39]	train-mlogloss:1.15020	eval-mlogloss:1.17745
[40]	train-mlogloss:1.14547	eval-mlogloss:1.17303
[41]	train-mlogloss:1.14071	eval-mlogloss:1.16856
[42]	train-mlogloss:1.13634	eval-mlogloss:1.16457
[43]	train-mlogloss:1.13200	eval-mlogloss:1.16070
[44]	train-mlogloss:1.12802	eval-mlogloss:1.15717
[45]	train-mlogloss:1.12414	eval-mlogloss:1.15366
[46]	train-mlogloss:1.12046	eval-mlogloss:1.15036
[47]	train-mlogloss:1.11718	eval-mlogloss:1.14737
[48]	train-mlogloss:1.11388	eval-mlogloss:1.14455
[49]	train-mlogloss:1.11056	eval-mlogloss:1.14160
[50]	train-mlogloss:1.10760	eval-mlogloss:1.13913
[51]	train-mlogloss:1.10469	eval-mlogloss:1.13663
[52]	train-mlogloss:1.10197	eval-mlogloss:1.13430
[53]	train-mlogloss:1.09950	eval-mlogloss:1.13215
[54]	train-mlogloss:1.09714	eval-mlogloss:1.13009
[55]	train-mlogloss:1.09486	eval-mlogloss:1.12812
[56]	train-mlogloss:1.09257	eval-mlogloss:1.12624
[57]	train-mlogloss:1.09035	eval-mlogloss:1.12437
[58]	train-mlogloss:1.08830	eval-mlogloss:1.12269
[59]	train-mlogloss:1.08641	eval-mlogloss:1.12111
[60]	train-mlogloss:1.08456	eval-mlogloss:1.11969
[61]	train-mlogloss:1.08276	eval-mlogloss:1.11833
[62]	train-mlogloss:1.08105	eval-mlogloss:1.11703
[63]	train-mlogloss:1.07928	eval-mlogloss:1.11573
[64]	train-mlogloss:1.07761	eval-mlogloss:1.11444
[65]	train-mlogloss:1.07610	eval-mlogloss:1.11332
[66]	train-mlogloss:1.07451	eval-mlogloss:1.11224
[67]	train-mlogloss:1.07304	eval-mlogloss:1.11115
[68]	train-mlogloss:1.07170	eval-mlogloss:1.11020
[69]	train-mlogloss:1.07029	eval-mlogloss:1.10916
[70]	train-mlogloss:1.06913	eval-mlogloss:1.10835
[71]	train-mlogloss:1.06782	eval-mlogloss:1.10756
[72]	train-mlogloss:1.06657	eval-mlogloss:1.10678
[73]	train-mlogloss:1.06542	eval-mlogloss:1.10597
[74]	train-mlogloss:1.06415	eval-mlogloss:1.10520
[75]	train-mlogloss:1.06313	eval-mlogloss:1.10453
[76]	train-mlogloss:1.06205	eval-mlogloss:1.10380
[77]	train-mlogloss:1.06098	eval-mlogloss:1.10305
[78]	train-mlogloss:1.06002	eval-mlogloss:1.10245
[79]	train-mlogloss:1.05905	eval-mlogloss:1.10191
[80]	train-mlogloss:1.05810	eval-mlogloss:1.10134
[81]	train-mlogloss:1.05701	eval-mlogloss:1.10079
[82]	train-mlogloss:1.05615	eval-mlogloss:1.10029
[83]	train-mlogloss:1.05524	eval-mlogloss:1.09979
[84]	train-mlogloss:1.05431	eval-mlogloss:1.09929
[85]	train-mlogloss:1.05346	eval-mlogloss:1.09886
[86]	train-mlogloss:1.05267	eval-mlogloss:1.09843
[87]	train-mlogloss:1.05185	eval-mlogloss:1.09800
[88]	train-mlogloss:1.05104	eval-mlogloss:1.09755
[89]	train-mlogloss:1.05032	eval-mlogloss:1.09721
[90]	train-mlogloss:1.04954	eval-mlogloss:1.09685
[91]	train-mlogloss:1.04877	eval-mlogloss:1.09650
[92]	train-mlogloss:1.04797	eval-mlogloss:1.09616
[93]	train-mlogloss:1.04719	eval-mlogloss:1.09592
[94]	train-mlogloss:1.04640	eval-mlogloss:1.09566
[95]	train-mlogloss:1.04571	eval-mlogloss:1.09537
[96]	train-mlogloss:1.04509	eval-mlogloss:1.09512
[97]	train-mlogloss:1.04444	eval-mlogloss:1.09487
[98]	train-mlogloss:1.04371	eval-mlogloss:1.09460
[99]	train-mlogloss:1.04303	eval-mlogloss:1.09439
[100]	train-mlogloss:1.04245	eval-mlogloss:1.09418
[101]	train-mlogloss:1.04172	eval-mlogloss:1.09389
[102]	train-mlogloss:1.04114	eval-mlogloss:1.09367
[103]	train-mlogloss:1.04042	eval-mlogloss:1.09341
[104]	train-mlogloss:1.03981	eval-mlogloss:1.09321
[105]	train-mlogloss:1.03921	eval-mlogloss:1.09307
[106]	train-mlogloss:1.03872	eval-mlogloss:1.09289
[107]	train-mlogloss:1.03804	eval-mlogloss:1.09271
[108]	train-mlogloss:1.03749	eval-mlogloss:1.09250
[109]	train-mlogloss:1.03681	eval-mlogloss:1.09232
[110]	train-mlogloss:1.03622	eval-mlogloss:1.09218
[111]	train-mlogloss:1.03553	eval-mlogloss:1.09200
[112]	train-mlogloss:1.03496	eval-mlogloss:1.09186
[113]	train-mlogloss:1.03439	eval-mlogloss:1.09172
[114]	train-mlogloss:1.03383	eval-mlogloss:1.09159
[115]	train-mlogloss:1.03327	eval-mlogloss:1.09146
[116]	train-mlogloss:1.03270	eval-mlogloss:1.09130
[117]	train-mlogloss:1.03224	eval-mlogloss:1.09121
[118]	train-mlogloss:1.03165	eval-mlogloss:1.09108
[119]	train-mlogloss:1.03119	eval-mlogloss:1.09100
[120]	train-mlogloss:1.03061	eval-mlogloss:1.09089

In [ ]:
model.best_ntree_limit

### 교차 검증

In [ ]:
# 평가 척도인 MAP@7를 구하는 코드
def apk(actual, predicted, k=7, default=0.0):
    # 정답값이 공백일 경우, 무조건 0.0점을 반환
    if not actual:
        return default
    
    
    # MAP@7 이므로 최대 7개만 사용
    if len(predicted) > k:
        predicted = predicted[:k]
    
    score = 0.0
    num_hits = 0.0
    
    for i, p in enumerate(predicted):
        # 예측값이 정답에 있고, 중복이 아닐때
        if (p in actual) and (p not in predicted[:i]):
            num_hits += 1.0
            score += num_hits / (i+1.0)
    # 정답의 개수로 average precision을 구한다
    return score / min(len(actual), k)

def mapk(actual, predicted, k=7, default=0.0):
    return np.mean([apk(a, p, k, default) for a, p in zip(actual, predicted)])

In [ ]:
vld = trn[trn['fecha_dato'] == valid_date]

In [ ]:
ncodpers_vld = vld['ncodpers']

In [ ]:
# 검증 데이터에서 신규 구매 구하기
for prod in prods:
    prev = prod + '_prev'
    padd = prod + '_add'
    vld[padd] = vld[prod] - vld[prev]

In [ ]:
add_vld = vld[[prod + '_add' for prod in prods]]

In [ ]:
[list() for _ in range(len(ncodpers_vld))]